<section class="login">
  <form class="login__from" action="/login" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" class="login__username" required>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" class="login__password" required>
    <input type="submit" value="Login"></input>
    {{#if errorMessage}}
    <span>{{errorMessage}}</span>
    {{/if}}
  </form>
</section>