<section class="signup">
  <form class="signup__from" action="/signup" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" class="signup__username" required>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" class="signup__password" required>
    <label for="confirm-password">Confirm Password</label>
    <input id="confirm-password" name="confimPassword" type="password" class="signup__confirm-password" required>
    <input type="submit" value="Signup"></input>
  </form>
</section>