<section class="post-form">
  <form class="post-form__from" action="/post" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" class="post-form__title" required>
    <textarea rows="4" cols="60" name="content">Say something</textarea>
    <input type="submit" value="Post"></input>
  </form>
</section>