<header class="navbar">
  <div class="navbar__home">
    <a href="/">
      <img alt="LVKI Blogger">
    </a>
  </div>
  {{#if loggedIn}}
  <div class="navbar__user">
    <img height=70 width=70 class="navbar__user__avatar" src="https://sigil.cupcake.io/{{username}}">
    <span>{{username}}</span>
    <a href="/logout">
      Logout
    </a>
  </div>
  {{else}}
  <div class="navbar__auth">
    <a href="/login">
      Login
    </a>
    <a href="/signup">
      Sign-up
    </a>
  </div>
  {{/if}}
</header>