<header class="navbar">
  <div class="navbar__left">
    <a href="/">
      <img class="navbar__logo" src="/logo.png" alt="LVKI Blogger">
    </a>
  </div>
  {{#if loggedIn}}
  <div class="navbar__right">
    <div class="navbar__userinfo">
      <span class="navbar__username">{{username}}</span>
      <img height=50 width=50 class="navbar__user-avatar" src="https://sigil.cupcake.io/{{username}}">
    </div>
    <div class="navbar__authentication">
      <a href="/logout">
        Logout
      </a>
    </div>
    {{else}}
    <div class="navbar__right">
      <a href="/login">
        Login
      </a>
      <a href="/signup">
        Sign-up
      </a>
    </div>
  </div>
  {{/if}}
</header>