<section class="post-form">
  <form class="post-form__from" action="/post" method="post">
    <label for="title"></label>
    <input id="title" name="title" type="text" class="post-form__title" placeholder="Title your post" required >
    <textarea rows="4" cols="60" name="content" placeholder="Express yourself!" required></textarea>
    <input type="submit" value="Post"></input>
  </form>
</section>